<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.healthapp">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
            android:name=".GlobalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.HealthApp"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".bbs.BbsUpdateActivity"
                android:exported="true"/>
        <activity
                android:name=".mypage.MypageWriteActivity"
                android:exported="true"/>
        <activity
                android:name=".mypage.MypageRoutineActivity"
                android:exported="true"/>
        <activity
                android:name=".mypage.MypageReplyActivity"
                android:exported="true"/>
        <activity
                android:name=".mypage.MypageLikeActivity"
                android:exported="true"/>
        <activity
                android:name=".mypage.MypageInformUpdateActivity"
                android:exported="true"/>
        <activity
                android:name=".fragment.MypageFragment"
                android:exported="true"/>
        <activity
                android:name=".admin.AdminBbsActivity"
                android:exported="true"/>
        <activity
                android:name=".admin.AdminMemberActivity"
                android:exported="true"/>
        <activity
                android:name=".admin.AdminActivity"
                android:exported="true"/>
        <activity
                android:name=".bbs.BbsWriteActivity"
                android:exported="true"/>
        <activity
                android:name=".bbs.BbsDetailActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity
                android:name=".fragment.BbsFragment"
                android:exported="true"/>
        <activity
                android:name=".bbs.WorkActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"/>
        <activity
                android:name=".login.FindActivity"
                android:exported="true"/>
        <activity
                android:name=".login.FindPwdFragment"
                android:exported="true"/>
        <activity
                android:name=".fragment.WorklistFragment"
                android:exported="true"/>
        <activity
                android:name=".login.FindIdFragment"
                android:exported="true"/>
        <activity
                android:name=".login.FindFragmentMenu"
                android:exported="true"/>
        <activity
                android:name=".login.RegiActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|adjustPan"
                android:exported="true"/>
        <activity
                android:name=".login.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|adjustPan"
                android:exported="true"/>
        <activity
                android:name=".fragment.CalendarFragment"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="oauth"
                        android:scheme="kakao2b99a7bd78568245841a276608ac9563"/>
            </intent-filter>
        </activity>
    </application>

</manifest>